.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 30% 40%;
}

.texTable {
  text-align: left;
  margin-left: 40px;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
